@model List<Category>
<div class="row">
    <partial name="_NotificationPartial"></partial>
</div>
<div class="row">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Category List</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <a class="btn btn-success" asp-controller="Category" asp-action="Create"><i class="bi bi-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Category Name</th>
                        <th scope="col">Display Order</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.CategoryName</td>
                            <td>@category.DisplayOrder</td>
                            <td>
                                <a class="btn btn-primary" asp-controller="Category" asp-action="Edit" asp-route-id=@category.Id><i class="bi bi-pencil-square"></i>&nbsp;Edit</a>
                                <a class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id=@category.Id><i class="bi bi-trash-fill"></i>&nbsp;Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


